* {
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
}

p {
  color: rgba(255, 255, 255, 1);
}

h2 {
  font-size: 2rem;
  color: #33A8DB;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 24px;

}



section {
  margin: 100px auto 0px;
}

.banner {
  height: 605px;
  background-image: linear-gradient(#00000099, #31a8dd33, #00000099), url(images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  border-bottom: 1px solid #33a8db80;

}

.banner .banner-content {
  width: 600px;
  text-align: center;
  color: white;
  margin: auto;
 
}

.banner .logo {
  background-color: rgba(0, 0, 0, .2);
  height: 260px;
  width: 260px;
  border-radius: 50%;
  margin: auto;
  padding: 16px;
  margin-bottom: 16px;

}

.banner .logo img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  background: -webkit-linear-gradient(#33a8db, #1472b7);
  background-clip: text;
  -webkit-background-clip: text;


}

.banner p {
  font-weight: 400;
  line-height: 23.48px;
  align-items: center;
  font-size: 1.25rem;
  margin: 16px 0 24px;
}

.banner .banner-content button {
  color: #33a8dd;
  font-size: 1rem;
  font-weight: bold;
  padding: 16px 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: transparent;
  border-image: linear-gradient(#3ba1cd, #1572b7);
  border-image-slice: 10;
  border-radius: 30px;
  margin-bottom: 20px;
}


#course-content {
  text-align: center;
  color: white;
  border-bottom: 1px solid #33a8db80;
  padding-bottom: 100px;
  margin-bottom: 20px;;

}
#course-content p{
  padding: 20px 0;
}

.modules-list .module {
  
  margin: 16px auto;
  padding: 15px 32px;
  width: 550px;
  background-color: #252525;
  border:  1px solid #33a8db ;
  border-radius: 50px;
  box-shadow: inset -10px 10px 10px rgba(0, 0, 0, 0.445);
}

.modules-list .module span {
  color: #33A8DB;
}

#transform-world {
  margin: 0;
  padding: 0;
  height: 600px;
  background-image: url(images/woman-code.png);
  background-size: 130%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#transform-world p {
  padding-top: 200px;
  padding-left: 200px;
  width: 450px;
  color: white;
  text-transform: lowercase;
  font-size: 2.5rem;    
  font-weight: 900;
  text-shadow: 2.5px 2.5px #1572b7;
}

#professional-challenges {
  text-align: center;
  max-width: 800px;
  color: white;
  
}


#professional-challenges h2{
  font-size: 2rem;
  color: #33A8DB;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#professional-challenges p {
  padding: 50px 0 90px;
}

footer {
  padding: 50px;
  color: white;
  text-align: center;
  border-top: 1px solid #33a8db80;
  height: 170px;
  background-image: linear-gradient(#000, #31a8dd33);
}

footer a {
  color: #33a8dd;
  text-decoration: none;
  font-weight: bold;
}